In [2]:
import scipy.stats as stats
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [19]:
data_url = '17zpallagi.csv'
zpallagi_csv = pd.read_csv(data_url)
raw_tax_df = pd.DataFrame(zpallagi_csv)
display(raw_tax_df.head())


mhi_data_url = 'MarketHealthIndex_Zip.csv'
market_health_csv = pd.read_csv(mhi_data_url, on_bad_lines='skip', encoding = "ISO-8859-1")
market_health_df = pd.DataFrame(market_health_csv)
display(market_health_df.head())

,STATEFIPS,STATE,zipcode,agi_stub,N1,mars1,MARS2,MARS4,ELF,CPREP,...,N85300,A85300,N11901,A11901,N11900,A11900,N11902,A11902,N12000,A12000
0,1,AL,0,1,802640.0,474470.0,99850.0,216600.0,717050.0,44090.0,...,0.0,0.0,64680.0,53602.0,700940.0,1803125.0,698100.0,1796343.0,2860.0,4917.0
1,1,AL,0,2,499070.0,218590.0,137460.0,129760.0,448190.0,26230.0,...,0.0,0.0,77660.0,118725.0,419640.0,1175607.0,416180.0,1165352.0,4250.0,8894.0
2,1,AL,0,3,268590.0,89780.0,134440.0,38280.0,241060.0,14160.0,...,0.0,0.0,67820.0,156752.0,201030.0,560461.0,197060.0,547812.0,5440.0,13482.0
3,1,AL,0,4,170880.0,32180.0,124070.0,11660.0,154120.0,7980.0,...,0.0,0.0,48440.0,141721.0,121930.0,396526.0,118460.0,383588.0,3160.0,12369.0
4,1,AL,0,5,229870.0,22810.0,196990.0,5540.0,208380.0,11120.0,...,50.0,19.0,91100.0,465160.0,138250.0,588068.0,130970.0,529001.0,8430.0,55564.0

,RegionType,RegionName,City,State,Metro,CBSATitle,SizeRank,MarketHealthIndex,SellForGain,PrevForeclosed,ForeclosureRatio,ZHVI,MoM,YoY,ForecastYoYPctChange,StockOfREOs,NegativeEquity,Delinquency,DaysOnMarket
0,Zip,1001,Agawam,MA,"Springfield, MA","""Springfield, MA""",NaN,2.094542,75.00,NaN,5.7575,198700.0,0.353535,5.187930,0.028415,NaN,0.112505,0.072131,77.5
1,Zip,1002,Amherst,MA,"Springfield, MA","""Springfield, MA""",NaN,3.099581,92.31,NaN,NaN,315600.0,-0.221309,3.441495,0.022503,NaN,0.060052,0.050725,93.5
2,Zip,1005,Town of Barre,MA,"Worcester, MA","""Worcester, MA-CT""",NaN,1.054014,50.00,NaN,73.3217,219500.0,0.319927,2.618046,0.039308,NaN,0.079545,0.174603,76.0
3,Zip,1007,Town of Belchertown,MA,"Springfield, MA","""Springfield, MA""",NaN,2.946270,100.00,NaN,NaN,260600.0,-0.572301,0.385208,0.024371,NaN,0.057422,0.034014,88.0
4,Zip,1008,Blandford,MA,"Springfield, MA","""Springfield, MA""",NaN,1.179644,0.00,NaN,NaN,224900.0,0.491510,4.216867,0.025932,NaN,0.071429,0.166667,78.0

In [35]:
# Market Health Index
# Sellforgain
# Foreclosureratio
# Negative Equity
# Delinquency
# DaysonMarket
# ZHVI
market_health_cols = ['RegionName','MarketHealthIndex','SellForGain','ForeclosureRatio','NegativeEquity','Delinquency',
                      'DaysOnMarket','ZHVI']

zip_tax_cols = ['zipcode','MARS1','MARS2','MARS4','NUMDEP','A00100','N02650', 'A02650','A00200','A00300', 'A00900',
                'A01000','A01700','SCHF','A02300','A02500','N26270','N03220','A03300','N03150','N03210','N03230',
                'A17000','A18425','A18500','A19300','N19570','A19700','A20950','N04800','A04800','A07300','N07180',
                'A07180','N07220','A07220','N09400','A09400','A10600','N11070','A11070','N06500','A06500','A85300']

# tax_zip_df = raw_tax_df[zip_tax_cols].copy()
# display(tax_zip_df)
tax_zip_df = raw_tax_df.filter(zip_tax_cols)
display(tax_zip_df)

mh_df = market_health_df.filter(market_health_cols, axis=1)
display(mh_df)

merged_df = pd.merge(tax_zip_df, mh_df, left_on="zipcode", right_on="RegionName")

display(merged_df)

print("Example of in zip for all three data frames")
display(tax_zip_df.loc[tax_zip_df['zipcode'] == 35004])
display(mh_df.loc[mh_df['RegionName'] == 35004])
display(merged_df.loc[merged_df['RegionName'] == 35004])

,zipcode,MARS2,MARS4,NUMDEP,A00100,N02650,A02650,A00200,A00300,A00900,...,N07220,A07220,N09400,A09400,A10600,N11070,A11070,N06500,A06500,A85300
0,0,99850.0,216600.0,475750.0,10467448.0,802640.0,10626881.0,8368271.0,54949.0,741047.0,...,27250.0,8374.0,112110.0,153786.0,2078353.0,221720.0,283322.0,255600.0,161796.0,0.0
1,0,137460.0,129760.0,352150.0,17977581.0,499070.0,18153235.0,14801613.0,62310.0,254049.0,...,120230.0,106522.0,38700.0,86925.0,2065629.0,100530.0,139491.0,380780.0,896996.0,0.0
2,0,134440.0,38280.0,181950.0,16502473.0,268590.0,16659518.0,12727137.0,64795.0,266422.0,...,74240.0,111795.0,27650.0,70831.0,1799819.0,9660.0,12750.0,254580.0,1303768.0,0.0
3,0,124070.0,11660.0,130670.0,14817087.0,170900.0,14951547.0,11098156.0,60626.0,249368.0,...,54170.0,88819.0,19760.0,57506.0,1721162.0,180.0,237.0,168810.0,1391918.0,0.0
4,0,196990.0,5540.0,204340.0,31131390.0,229850.0,31461757.0,22900238.0,152168.0,679483.0,...,47890.0,64780.0,32290.0,134318.0,4273327.0,0.0,0.0,228870.0,3979974.0,19.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
166532,99999,1030.0,440.0,1710.0,132401.0,3630.0,133833.0,98837.0,528.0,3178.0,...,580.0,545.0,360.0,728.0,15539.0,400.0,570.0,3030.0,7821.0,0.0
166533,99999,1220.0,200.0,1480.0,152256.0,2470.0,153790.0,109703.0,553.0,3278.0,...,520.0,869.0,290.0,705.0,18126.0,80.0,93.0,2320.0,12972.0,0.0
166534,99999,1200.0,100.0,1190.0,157779.0,1820.0,159192.0,113825.0,511.0,2777.0,...,390.0,733.0,170.0,467.0,20260.0,0.0,0.0,1790.0,16271.0,0.0
166535,99999,2020.0,80.0,1950.0,328980.0,2480.0,333132.0,225591.0,2315.0,6140.0,...,450.0,720.0,370.0,1363.0,47944.0,0.0,0.0,2460.0,42999.0,0.0
166536,99999,600.0,0.0,370.0,459890.0,700.0,469004.0,89950.0,11594.0,6445.0,...,0.0,0.0,180.0,1530.0,117931.0,0.0,0.0,690.0,122459.0,4298.0

,RegionName,MarketHealthIndex,SellForGain,ForeclosureRatio,NegativeEquity,Delinquency,DaysOnMarket,ZHVI
0,1001,2.094542,75.00,5.7575,0.112505,0.072131,77.5,198700.0
1,1002,3.099581,92.31,NaN,0.060052,0.050725,93.5,315600.0
2,1005,1.054014,50.00,73.3217,0.079545,0.174603,76.0,219500.0
3,1007,2.946270,100.00,NaN,0.057422,0.034014,88.0,260600.0
4,1008,1.179644,0.00,NaN,0.071429,0.166667,78.0,224900.0
...,...,...,...,...,...,...,...,...
14084,60958,3.406913,NaN,NaN,0.235294,0.062500,86.0,71300.0
14085,93737,8.878558,100.00,NaN,NaN,NaN,58.0,323800.0
14086,84129,2.027823,NaN,2.9446,NaN,NaN,50.5,221700.0
14087,75033,8.126908,100.00,NaN,NaN,NaN,57.0,404500.0
14088,97003,9.584782,100.00,2.6644,NaN,NaN,48.0,326200.0

,zipcode,MARS2,MARS4,NUMDEP,A00100,N02650,A02650,A00200,A00300,A00900,...,A06500,A85300,RegionName,MarketHealthIndex,SellForGain,ForeclosureRatio,NegativeEquity,Delinquency,DaysOnMarket,ZHVI
0,35004,220.0,290.0,700.0,19889.0,1500.0,20185.0,14957.0,124.0,1545.0,...,372.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
1,35004,350.0,280.0,790.0,50071.0,1340.0,50615.0,41988.0,203.0,573.0,...,2775.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
2,35004,430.0,140.0,630.0,56574.0,920.0,57008.0,48108.0,96.0,813.0,...,4537.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
3,35004,480.0,50.0,540.0,55894.0,650.0,56274.0,48270.0,86.0,855.0,...,5220.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
4,35004,570.0,20.0,640.0,84707.0,650.0,85311.0,71442.0,151.0,2001.0,...,10425.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84013,54986,140.0,60.0,160.0,19189.0,520.0,19373.0,13323.0,77.0,405.0,...,1191.0,0.0,54986,8.518703,100.0,NaN,0.072483,0.000000,70.0,167700.0
84014,54986,240.0,50.0,220.0,25610.0,420.0,25978.0,18086.0,216.0,577.0,...,2044.0,0.0,54986,8.518703,100.0,NaN,0.072483,0.000000,70.0,167700.0
84015,54986,280.0,0.0,230.0,28628.0,330.0,29115.0,20076.0,148.0,654.0,...,2479.0,0.0,54986,8.518703,100.0,NaN,0.072483,0.000000,70.0,167700.0
84016,54986,420.0,0.0,420.0,61676.0,460.0,62378.0,45945.0,399.0,1577.0,...,7410.0,0.0,54986,8.518703,100.0,NaN,0.072483,0.000000,70.0,167700.0
84017,54986,120.0,0.0,120.0,53134.0,130.0,54671.0,26557.0,721.0,78.0,...,12569.0,144.0,54986,8.518703,100.0,NaN,0.072483,0.000000,70.0,167700.0

,zipcode,MARS2,MARS4,NUMDEP,A00100,N02650,A02650,A00200,A00300,A00900,...,N07220,A07220,N09400,A09400,A10600,N11070,A11070,N06500,A06500,A85300
6,35004,220.0,290.0,700.0,19889.0,1500.0,20185.0,14957.0,124.0,1545.0,...,40.0,14.0,220.0,327.0,3406.0,330.0,432.0,560.0,372.0,0.0
7,35004,350.0,280.0,790.0,50071.0,1340.0,50615.0,41988.0,203.0,573.0,...,310.0,311.0,110.0,230.0,5693.0,210.0,286.0,1070.0,2775.0,0.0
8,35004,430.0,140.0,630.0,56574.0,920.0,57008.0,48108.0,96.0,813.0,...,300.0,444.0,80.0,167.0,6408.0,40.0,51.0,880.0,4537.0,0.0
9,35004,480.0,50.0,540.0,55894.0,650.0,56274.0,48270.0,86.0,855.0,...,240.0,404.0,60.0,164.0,6516.0,0.0,0.0,640.0,5220.0,0.0
10,35004,570.0,20.0,640.0,84707.0,650.0,85311.0,71442.0,151.0,2001.0,...,180.0,262.0,90.0,309.0,11257.0,0.0,0.0,650.0,10425.0,0.0
11,35004,70.0,0.0,50.0,22831.0,70.0,23278.0,12011.0,242.0,0.0,...,0.0,0.0,0.0,0.0,4723.0,0.0,0.0,70.0,4467.0,32.0

,RegionName,MarketHealthIndex,SellForGain,ForeclosureRatio,NegativeEquity,Delinquency,DaysOnMarket,ZHVI
6144,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0

,zipcode,MARS2,MARS4,NUMDEP,A00100,N02650,A02650,A00200,A00300,A00900,...,A06500,A85300,RegionName,MarketHealthIndex,SellForGain,ForeclosureRatio,NegativeEquity,Delinquency,DaysOnMarket,ZHVI
0,35004,220.0,290.0,700.0,19889.0,1500.0,20185.0,14957.0,124.0,1545.0,...,372.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
1,35004,350.0,280.0,790.0,50071.0,1340.0,50615.0,41988.0,203.0,573.0,...,2775.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
2,35004,430.0,140.0,630.0,56574.0,920.0,57008.0,48108.0,96.0,813.0,...,4537.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
3,35004,480.0,50.0,540.0,55894.0,650.0,56274.0,48270.0,86.0,855.0,...,5220.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
4,35004,570.0,20.0,640.0,84707.0,650.0,85311.0,71442.0,151.0,2001.0,...,10425.0,0.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0
5,35004,70.0,0.0,50.0,22831.0,70.0,23278.0,12011.0,242.0,0.0,...,4467.0,32.0,35004,4.893179,NaN,NaN,0.092712,0.026738,76.0,147100.0